Flask==0.10.1
Flask-PyMongo==0.3.0
Flask-RESTful==0.2.12
Flask-Script==0.6.7
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
aniso8601==0.82
coverage==3.7.1
gunicorn==18.0
itsdangerous==0.24
pymongo==2.7
pytz==2014.2
six==1.6.1
wsgiref==0.1.2
